* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vW;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #ff652f;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

canvas {
  position: fixed;
  background-color: blue;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}

.cursor {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.bar {
  margin: 0 auto;
  position: absolute;
}

.horizontal {
  opacity: 0.4;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 20%;
  left: 15%;
  top: 40%;
}

.vertical {
  width: 20%;
  height: 70%;
  left: 40%;
  top: 15%;
}

.top {
  opacity: 0.4;
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 25%;
  left: 40%;
  top: 15%;
}

.bot {
  opacity: 0.4;
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 25%;
  left: 40%;
  top: 60%;
}/*# sourceMappingURL=main.css.map */